{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [ ">5%", "last 2 versions" ]
            },
            "modules": false
        }],
        "stage-3"
    ],
    "plugins": [
        "syntax-dynamic-import"
    ],
}
